/* Overall */
html, body {
  background-color: #1e1e1e;
}

body {
  font-family: PingFangSC, DengXian, Microsoft YaHei, Arial, Helvetica, sans-serif !important;
  margin: 0 !important;
  color: white;
  overflow: hidden;
}

span, p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .375);
}

/* Page */
.background-container {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  background-color: black;
  overflow: hidden;
  z-index: 0;
  margin: 0 !important;
  padding: 0 !important;
}
#background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}
.main-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: transparent;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.container-left {
  height: 100vh;
  width: auto;
  padding-right: 144px;
  display: inline-block;
}
.container-middle {
  height: 100vh;
  display: inline-block;
  width: 200px;
}
.container-right {
  height: 100vh;
  width: auto;
  display: inline-block;
}
.login-iframe {
  width: 0px;
  height: 0px;
}
#exmail-login {
  width: 0px;
  height: 0px;
}

/* Left */
.logo {
  margin-top: 396px;
  user-select: none;
  -webkit-user-drag: none;
}
#main-logo {
  width: 360px;
  user-select: none;
  -webkit-user-drag: none !important;
}

/* Right */
.login-panel {
  width: auto;
  margin-top: 242px;
}
.login-form {
  user-select: none;
  -webkit-user-drag: none;
}
.login-form span {
  color: white;
  font-size: 25px;
  letter-spacing: 0.05rem;
}
.login-tabs {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 50px;
  margin-top: 26px;
}
.login-tabs-item {
  display: block;
  text-align: center;
  transition: 100ms ease;
}
.login-tabs-item:hover {
  border-bottom: #666 solid 2px;
  cursor: pointer;
}
.login-tabs-item span {
  font-size: 18px;
  line-height: 50px;
  color: #999;
}
.login-tabs-item-selected {
  border-bottom: white solid 2px !important;
}
.login-tabs-item-selected:hover {
  cursor: default;
}
.login-tabs-item-selected span {
  color: white;
}
.login-tab {
  margin-top: 36px;
  display: none;
}
.login-tab-display {
  display: block;
}
.control-layer {
  margin-bottom: 18px;
}
.control-layer label {
  color: white;
  font-size: 16px;
}
.control-layer input {
  width: 420px;
}
.login-submit-layer input {
  width: 420px;
  margin-top: 12px;
}
.forgetpassword-layer {
  margin-top: 24px;
}
.forgetpassword-layer a {
  color: white;
  float: right;
}
.forgetpassword-layer a:hover {
  color: white;
}
#input-username {
  display: inline-block;
  width: 286px;
}
#username-postfix {
  display: inline-block;
  font-size: 16px;
  margin-left: 8px;
}

/* mobile */
.login-panel-mobile {
  display: none;
}
#login-title-mobile {
  text-align: center;
  margin-top: 18px;
}
#login-title-mobile span {
  font-size: 18px;
}
.login-tomobile-layer {
  padding-top: 24px;
}
.login-tomobile-layer button {
  width: 280px;
  height: 36px;
  padding: 0 !important;
  margin: 0 !important;
}
.login-mobile-logo {
  width: 100%;
  text-align: center;
}
#logo-mobile {
  width: 192px;
  margin-bottom: 8px;
}

@media (max-width: 1024px) {
  .container-left {
    display: none;
  }
  .login-panel {
    height: auto;
    margin-top: 202px;
  }
  .control-layer input {
    width: 280px;
  }
  #background {
    width: 200vw;
  }
  #input-username {
    width: 188px;
  }
  .login-submit-layer input {
    width: 320px;
  }
}
@media (max-width: 768px) {
  .login-panel {
    margin-top: 96px;
  }
  #background {
    width: 500vw;
  }
}
@media (max-width: 540px) {
  .login-panel-desktop {
    display: none;
  }
  .login-panel-mobile {
    display: block;
  }
}
