/* Overall */
body{
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    margin: 0 !important;
    color:white;
}
/* Page */
.background-container{
    width: 100%;
    height:100%;
    display: block;
    position: absolute;
    background-color: black;
    z-index: 0;
}
.main-container{
    width: 100%;
    height:100%;
    position: absolute;
    background-color: transparent;
    z-index: 100;
    display:flex;
    justify-content: center;
}
.container-left{
    height:100%;
    width:auto;
    padding-right:140px;
    display:inline-block;
}
.container-middle{
    height:100;
    display:inline-block;
    width:200px;
}
.container-right{
    height: 100%;
    width:auto;
    display: inline-block;
}
#background{
    position: absolute;
}
.login-iframe{
    width:0px;
    height:0px;
}
#exmail-login{
    width:0px;
    height:0px;
}
/* Left */
.logo{
    margin-top:400px;
    user-select: none;
    -webkit-user-drag: none;
}
#main-logo{
    width: 350px;
}
/* Right */
.login-panel{
    width:auto;
    margin-top:200px;
}
.login-form{
    user-select: none;
    -webkit-user-drag: none;
}
.login-form span{
    color:white;
    font-size:25px;
}
.login-tabs{
    display:grid;
    grid-template-columns: 50% 50%;
    height:50px;
    margin-top:26px;
}
.login-tabs-item{
    display:block;
    text-align: center;    
}
.login-tabs-item span{
    font-size: 18px;
    line-height: 50px;
}
.login-tabs-item-selected{
    border-bottom:white solid 2px;
}
.login-tab{
    margin-top:36px;
}
.control-layer{
    margin-bottom:15px;
}
.control-layer label{
    color:white;
    font-size:18px;
}
.control-layer input{
    width: 420px;
}
.autologin_choice{
    color:white;
    font-size:16px;
    padding-top: 8px;
}
.autologin_choice input{
    margin-right:6px;
}
.login-btn-layer{
    margin-top:14px;
}
.login-btn-layer button{
    width: 420px;
}
.forgetpassword-layer{
    margin-top:24px;
}
.forgetpassword-layer a{
    color:white;
    float:right;
}
.forgetpassword-layer  a:hover{
    color:white;
}